<%include ../partials/header.ejs%>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome To YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campgrounds</a>
        </p>
    </header>

<div class="container">
<div class="row">

<% campgrounds.forEach(function(campground){%>
    
        <div class="col">
            <div class="img-thumbnail">
                <img src="<%=campground.image%>">
                <div class="caption"><%=campground.name%></div>
                <p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                </p>    
            </div>

            
        </div>    
    
<%});%>

</div>
</div>
</div>

<%include ../partials/footer.ejs%>